body {
  background-color: #fdf6e3;
}

header {
  font-size: 1.5rem;
}

footer p {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

header h1 {
  text-transform: uppercase;
}

main {
  background-color: #eee8d5;
}

#contents, #favs, #facts, #types {
  color: #93a1a1;
}

.dfn {
  background-color: #b58900;
}

h2  div #dfn {
  color: #fff;
}
