body {
  background-color: #fdf6e3;
}

header {
  font-size: 1.5rem;
}

footer p {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

header h1 {
  text-transform: uppercase;
}

main {
  background-color: #eee8d5;
}

main div dfn {
  color: #fff;
}

#contents, #favs, #facts, #types {
  color: #93a1a1;
}

main h2 + div {
  background-color: #b58900;
}

header ul mark {
  background-color: #719e07;
}

main ul li:last-child {
  background-color: #2694d8;
}

main ol li:first-child{
  color: #719e47;
}
